.divbox {
    height:860px;
    width:896px;
    border:2px #ff6600 solid;
    margin-top:-45px;
    margin-bottom:20px;
}
.predicthead{
    font-size:28px;
    color:#FF6600;
    float:left;
    font-weight:bold;
    margin-top:30px;
    margin-left:60px;
}
.predicthr{
    clear:both;
    width:800px;
    float:left;
    margin-top:15px;
    border-top:1px solid #FF6600;
    margin-bottom:30px;
}
.predictbox1{
    clear:both;
    font-size:18px;
}
.boximg{
    float:left;
    margin:40px;
    width:200px;
    margin-left:50px;
    background-repeat:no-repeat;
	cursor:pointer;
}
.divtxt{
    float:left;
    margin-left:100px;
    padding-top:15px;
}
.divcontent{
    text-align:left;
    padding-top:15px;
}
.boxright{
    padding-top:50px;
}