.registeDiv{
    position:relative;
    margin-top:-45px;
    margin-left:0px;
    width:896px;
    height:900px;
    border:2px #ff6600 solid;
}
.registeDivLabel {
    font-size:28px;
    color:#FF4400;
    font-weight:bold;
    margin-top:15px;
    margin-left:15px;
    width:130px;
    height:100px;
    /*background:#ffd800;*/
    display:block;
    position:absolute;
}
hr {
    color:#FF4400;
    margin-top:60px;
    margin-left:-95px;
    width:800px;
    display:block;
}
.registeForm{
    font-weight:bold;
}
.registeForm1Label{
    font-size:24px;
    font-weight:bold;
    width:190px;
    height:100px;
    display:block;
    left:67px;
    top:72px;
   /*border:1px #f00 solid;*/
   position:absolute;
}
.registeForm2Label{
     font-size:24px;
    font-weight:bold;
    width:190px;
    height:100px;
    display:block;
    left:45px;
    top:330px;
    /*border:1px #FF4400 solid;*/
    position:absolute;
}
.registeUl1{
    width:600px;
    height:200px;
    /*border:1px #ff6a00 solid;*/
    margin-left:-170px;
    margin-top:80px;
    position:relative;
}
.genderdiv {
    margin:0px;
    padding:0px;
    border:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
    font-size:10px;
}
.registeUl1 label {
    width:200px;
    height:30px;
    display:block;
    /*border:1px #FF4400 solid;*/
    font-size:12px;
    line-height:30px;
    margin-left:330px;
    margin-top:-35px;
}
.registeUl1 li {
    list-style-type:none;
    width:350px;
    height:40px;
    margin-top:20px;
    margin-left:10px;
    text-align:left;
    /*border:1px #808080 solid;*/
    line-height:40px;
    /*font-weight:bold;*/
}
.registeUl1 li input {
    margin-left:10px; 
    margin-top:5px;
    height:30px;
    width:220px;
    position:absolute;
}
.maleLabel {
    position:absolute;
    left:-170px;
    top:157px;
}
.femaleLabel {
    position:absolute;
    left:-90px;
    top:157px;
}
.sexRadio {
    margin-left:600px;
    position:absolute;
}
.registeUl2{
    width:600px;
    height:300px;
    /*border:1px #ff6a00 solid;*/
    margin-left:-170px;
    margin-top:50px;
    position:relative;
}
.registeUl2 label {
    width:200px;
    height:30px;
    display:block;
    /*border:1px #FF4400 solid;*/
    font-size:12px;
    line-height:30px;
    margin-left:330px;
    margin-top:-35px;
}
.registeUl2 li {
    list-style-type:none;
    width:350px;
    height:40px;
    margin-top:20px;
    margin-left:10px;
    text-align:left;
    /*border:1px #808080 solid;*/
    line-height:40px;
    /*font-weight:bold;*/
}
.registeUl2 li input {
    margin-left:10px; 
    margin-top:5px;
    height:30px;
    width:220px;
    position:absolute;
}
.registeUl2 li select {
    margin-left:240px;
    margin-top:6px;
    font-size:20px;
    height:30px;
    width:120px;
    line-height:30px;
    text-align:left;
    position:absolute;
}
.checkLabel {
    width:200px;
    height:90px;
    display:block;
    margin-left:280px;
    margin-top:30px;
    position:absolute;
}
.registeButton {
    margin-left:330px;
    margin-top:60px;
    width:130px;
    height:60px;
    display:block;
    font-size:30px;
    color:#fff;
    font-weight:bold;
    border:none;
    background:#FF4400;
    position:absolute;
}